body > .grid {
  height: 100%;
}
.givenames {
  height: 100%;
}

.givenames .column{
  max-width: 400px;
}
div#content{
  height:100%;
}


.main.container{
      margin-top:1em;
  }


.topMenu{
  background-color: white;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 10px;
}

.topselect{
  display: inline-block;
  
}
@media (max-width: 600px) {
  .main.container{
      margin-top:3em;
  }

  .topMenu{
      text-align: center;
  }
.topselect {
  display: block;
  
}
}

.logoscript{
  font-family: 'Satisfy', cursive;
}


.touchevents span.topselect .dropdown{
  font-size: 1.4em;
  margin-bottom: 15px;
} 

.logoHeader{
  padding: 1em;
}